.home__twin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $surface;
  border-radius: 10px;
  margin-bottom: 30px;

  padding:20px $thirty;
}

.home__person {
  display: flex;
  align-items: center;
  color: $text;
}

.home__img {
  border-radius: 50%;
  margin-right: 10px;
}

.home__btn {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: #7DA9FF;
  color: $text;

  &:hover {
    background-color: #6383c4;
  }
}