.main {
  padding-left: 300px;

}

.main__contnent {
  padding-left: 25px;
  padding-top: $thirty;
  padding-right: 105px;
  display: flex;
  justify-content: space-between;
}

.main__conteiner {
  width: 100%;
  padding-right: 385px;
  position: relative;
}