//color
$overlay-light: #373A40;
$overlay-dark: #2C2F33;
$surface: #26282C;
$base: #1F2023;
$overflow: #010101;
$text: #ffffff;

// px

$thirty: 30px; 
$twenty: 20px; 

//fontsize

$nikname: 12px;
$maintext: 16px;